* {
    box-sizing: border-box;
}
  
body {
    font-family: 'Roboto', sans-serif;
    background-color: lightsteelblue;
}
  
button, input[type="text"] {
    padding: 5px;
}
  
button:hover {
    cursor: pointer;
}

#navbar {
    position: fixed;
    display: inline-block;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 20px 10px;
    transition: 0.4s;
    background-color: palevioletred; 
    color: black;
}

nav a {
    font-size: 16px;
    padding-right: 5px;
}

.nav-links {
    text-align: center;
}

.headline {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

#instructions, #search, #word-cloud, #definition {
    position: absolute;
    top: -50px;
}
  
.container {
    max-width: 700px;
    margin: 0 auto;
}

header {
    text-align: center;
    margin-top: 85px;
    margin-right: 15px;
    margin-left: 15px;
    padding: 20px;
    background-color: white;
    border: solid;
    border-color: yellow;
    border-radius: 5px;
}

section {
    position: relative;
    background-color: white;
    border: solid;
    border-color: yellow;
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
}

h2 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 17px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    margin-bottom: 5px;
}

#chartdiv {
    width: 100%;
    height: 350px;
    border: solid;
    border-color: palevioletred;
    border-radius: 5px;
}

footer {
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background-color: white;
    border: solid;
    border-color: yellow; 
    border-radius: 5px;
}

@media only screen and (min-width: 600px) {
    footer {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 15px;
        width: 100%;
        padding: 10px;
        background-color: white;
        border: solid;
        border-color: yellow; 
        border-radius: 5px;
    }
  }

@media only screen and (min-width: 1000px) {
    #navbar {
        position: fixed;
        display: inline-block;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        padding: 20px 10px;
        transition: 0.4s;
        background-color: palevioletred; 
    }
    
    nav a {
        font-size: 16px;
        padding-right: 5px;
    }
    
    .nav-links {
        text-align: right;
        position: relative;
    }  
    
    .headline {
        text-align: left;
        position: absolute;
        font-weight: bold;
    }

    .container {
        max-width: 760px;
        margin: 0 auto;
    }

    footer {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 15px;
        width: 100%;
        padding: 10px;
        background-color: white;
        border: solid;
        border-color: yellow; 
        border-radius: 5px;
    }
    
}

